
.idea/*

__pycache__/*

catboost_info/*

references/*
results/*
internal/*

experiments/*
assets/*
tmps/*

wandb/*

tmp/*
datasets/*
datasets/PromptCBLUE/test_a_open/*
src/eval_chatgpt/*

*.log

*.wav
*.mp3

*.pkl



*.png

*.jpg
*.xlsx
*.csv

catboost_info


